body {
  margin:0;
  padding:0;
  font-family: Sans-Serif;
  line-height: 1.5em;
}

#header {
  background: #ff7e7e;
  text-align: center;
}

#header h1 {
  margin: 0;
  padding-top: 15px;
}

main {
  width: 100%;
}

#nav {
  float: left;
  width: 230px;
  margin-left: -100%;
  background: #ff7e7e;
}

#wrapper {
  /* overflow: hidden; */
}

.innertube {
  text-align: center;
}

p {
  color: #555;
}

.win {
  background-image: url("https://i.imgur.com/7Dw04xT.jpg");
}

.fail {
  background-image: url("https://i.imgur.com/ijBFGQZ.gif");
}

#picbox {
  margin: 0 200px;
  text-align: center;
  background-size: contain;
  background-repeat:no-repeat;
  /* width:450px; */
  height:300px;
  max-width: 100%;
}

#result {
  text-align: center;
}